<!DOCTYPE html>
<html>
<head>
<title>Welcome to NGINX</title>
</head>
<body>
<h1>${WELCOME_MSG} </h1>
<p>This is a dynamic message injected using Docker ENV vraiables. Current Environment is ${ENV}</p>
</body>
</html>